
#navigation a {
    background-color: rgb(84,84,84);
}
.frame-area{
    height: 200px;
    position: relative;
}
.area{
    width: 300px;
    height: 150px;
    background-image: url("../img/area_bg.png");
    background-size: 100% 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 12px;
    margin: 0 8px;
}
.area h1{
   font-size: 23px;
   line-height: 1.5;
   padding-left: 8px;
   padding-top: 8px;
   margin-bottom: 8px;
}
.area a{
    text-decoration: none;
    color: #fff;
    padding: 0 8px;
}
.area a:hover{
    color: #79BEDB;
}

@media only screen and (max-width: 1023px){
    .drop-down:hover{
        cursor: pointer;
    }
    .drop-down:hover .icon{
        color: #fff;
    }

    .drop-down .nav-hidden{
        right: 0;
        list-style-type: none;
        padding: 0;
        position: absolute;
        top: 120px;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
    }
    .drop-down li{
        text-decoration: none;
        padding: 12px;
        text-align: center;
        width: 100%;
        background-color: #d68857;
    }
    .drop-down li a{
        width: 100%;
        text-decoration: none;
        padding: 16px 32px;
        display: block;
        background-color: #d68857;
        border: 3px solid #d68857;
        color: #fff;
    }
    .drop-down li a:hover{
        color: #d68857;
        background-color: #fff;
        border: 3px solid #ac6133;
    }
}
@media (min-width: 1024px) and (max-width: 1239px){
    .area{
        width: 280px;
        height: 150px;
    }
}

@media (min-width: 968px) and (max-width: 1024px){
    .area{
        width: 270px;
        height: 150px;
    }
}

@media (min-width: 740px) and (max-width: 968px){
    .area{
        width: 250px;
        height: 150px;
    }
    
}
@media (max-width: 739px){
    .area{
        width: 250px;
        height: 150px;
    }
}
