/*detail auto*/
.option-table form{
    margin-top: 64px;
    height: 450px;
}

.option-table form select{
    width: 750px;
    border: 3px solid #27a9e6;
    padding: 8px;
    border-radius: 5px;
    outline: none;
}

.option-table form select option{
    padding: 8px;
}

.option-table form select:hover{
    opacity: 0.8;
    cursor: pointer;
}
.option-table form .drop-down{
    height: 250px;
}
.option-table form .btn{
    height: 75px;
    text-align: center;
    width: 100%;
}
.option-table form .btn button{
    padding: 12px 64px;
    border: 3px solid #f87132;
    background-color: #f87132;
    border-radius: 10px;
    color: #fff;
    font-size: 23px;
}

.option-table form .btn button:hover{
    background-color: #fff;
    color: #f87132;
    cursor: pointer;
}

.option-table form .btn button:active,
.option-table form .btn button:focus{
    border: 3px solid #6e3115;
}



/*select mode*/
.select-mode{
    position: relative;
}

.select-mode > form{
    padding: 0 64px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

.mode-table .mode-label{
    display: block;
    padding-top: 12px;
    padding-bottom: 8px;
    font-weight: bold;
}
.mode-table .mode-input{
    padding: 8px;
    border: 2px solid #ccc;
    margin-bottom: 8px;
    width: 100%;
    
}
.select-mode .relay-status:hover,
.mode-table .mode-input:focus,
.mode-table .mode-input:hover{
    border: 2px solid #ff6720;
    outline: #ff6720;
}
.select-mode .relay-status{
    width: 150px;
    height: 30px;
    line-height: 1.5;
    border: 2px solid #ccc;
    text-align: center;
    margin-bottom: 16px;
    display: inline-block;
}
.mode-relay .relay-label{
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    margin-right: 16px;
}

@media (min-width: 768px) and (max-width: 1239px){
    .option-table form select{
        width: 550px;
    }
}
@media (max-width: 768px){
    .option-table form select{
        width: 400px;
    }
}
