*{
    box-sizing: inherit;
}

:root{
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --blue: #00B2FF;
    --red: #FF316B;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #e2a9be;
    --product: #eedae7;
    --background: #FEFEF2;
    --boder: #c0d362;
    --text-content: #49744c;
    --lightbshadow: rgba(0,0,0,0.15);
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.app-container{
    height: 1080px;
    background: var(--background);
}

.content {
    margin: 40px 0;
}

.content-p {
    color: var(--text-content);
    font-size: 3rem;
    border: 3px solid var(--boder);
}

.content-p p {
    margin-bottom: 0;
}

.content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
    background-image: linear-gradient(73.72deg, #1D8BA4 0%, rgba(73, 116, 76, 0.7) 100%);
}

.content-lable {
    margin: 20px;
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    justify-content: center;
}

.content-index {
    margin-bottom: 0;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
}

.switch-button {
    margin-top: 20px;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #01f854;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}