<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/font/fontawesome-free-5.15.4-web/css/all.css">
</head>
<body>
    <div id="container" class="grid">
        <div id="nav-bar" class="row no-gutter">
            <div class="col l-3">
                <a href="index.html"><img src="../static/img/logo.png" alt="logo" width="90px" height="75px"></a>
            </div>
            <div class="col l-6">
                <ul id="navigation">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="">Khu vực</a></li>
                    <li><a href="">Quản lý chế độ tưới</a></li>
                </ul>
            </div>
            <div class="col l-3">
                <a href=""><i class="icon-account fas fa-user-circle"></i></a>
                <a href="index.html">
                    <button type="button" class="btn-nav">Đăng xuất</button>
                </a>
                
            </div>
        </div>
        <div class="row no-gutter">
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide"><img src="../static/img/bg-homepage.png" width="100%" height="100%"></div>
                    <div class="slide"><img src="../static/img/he-thong-tuoi-cay-tu-dong.jpg" width="100%" height="100%"></div>
                    <div class="slide"><img src="../static/img/tuoi-san-vuon.jpg" width="100%" height="100%"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>