<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Các khu vực</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/font/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="../static/css/area.css">
</head>
<body>
    <div id="container" class="grid">
        <div id="nav-bar" class="row no-gutter">
            <div class="col l-3 m-6 c-6">
                <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="logo" width="90px" height="75px"></a>
            </div>
            <div class="col l-6 m-0 c-0">
                <ul id="navigation">
                    <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li><a class="btn-selected" href="{{ url_for('area') }}">Khu vực</a></li>
                    <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
                </ul>
            </div>
            <div class="col l-3 m-5 c-5">
                <a href=""><i class="icon-account fas fa-user-circle"></i></a>
                <a href="{{ url_for('logout') }}">
                    <button type="button" class="btn-nav">Đăng xuất</button>
                </a>
            </div>
            <div class="drop-down col l-0 m-1 c-1">
                <div class="icon">
                    <i class="fas fa-grip-lines fa-2x"></i>
                </div>
                <ul class="nav-hidden w-100">
                    <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li><a href="{{ url_for('area') }}">Khu vực</a></li>
                    <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
                </ul>
              </div>
        </div>
        <div class="row ">
            <!-- <div class="col l-3">
            </div>
            <div class="col l-6">
                <ul id="navigation" class="areas">
                    <li><a href="{{ url_for('detailhand') }}">Khu vực 1</a></li>
                    <li><a href="{{ url_for('detailhand') }}">Khu vực 2</a></li>
                    <li><a href="{{ url_for('detailhand') }}">Khu vực 3</a></li>
                </ul>
            </div>
            <div class="col l-3">
            </div> -->
            <div class="frame-area col l-3 m-4 c-6">
                <div class="area">
                    <h1>Khu vực 1</h1>
                    <a href="{{ url_for('detailhand') }}">Xem thông tin</a>
                </div>
                
            </div>
            <div class="frame-area col l-3 m-4 c-6">
                <div class="area">
                    <h1>Khu vực 2</h1>
                    <a href="{{ url_for('detailhand') }}">Xem thông tin</a>
                </div>
                
            </div>
            <div class="frame-area col l-3 m-4 c-6">
                <div class="area">
                    <h1>Khu vực 3</h1>
                    <a href="{{ url_for('detailhand') }}">Xem thông tin</a>
                </div>
                
            </div>
            <div class="frame-area col l-3 m-4 c-6">
                <div class="area">
                    <h1>Khu vực 4</h1>
                    <a href="{{ url_for('detailhand') }}">Xem thông tin</a>
                </div>
                
            </div>
            
        </div>
    </div>
</body>
</html>