<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tưới thủ công</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/form-login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/font/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="../static/css/detail_hand.css">
</head>
<body>
    <div id="container">
        <div id="nav-bar" class="row no-gutter">
            <div class="col l-3">
                <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="logo" width="90px" height="75px"></a>
            </div>
            <div class="col l-6">
                <ul id="navigation">
                    <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li><a href="{{ url_for('area') }}">Khu vực</a></li>
                    <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
                </ul>
            </div>
            <div class="col l-3">
                <a href=""><i class="icon-account fas fa-user-circle"></i></a>
                <a href="{{ url_for('logout') }}">
                    <button type="button" class="btn-nav">Đăng xuất</button>
                </a>
            </div>
        </div>
        <div id="general">
            <div id="left">
                <div id="plant">
                    <div id="plant-name">
                        <p>Khu vực 1</p>
                        <p>Cây cà chua</p>
                    </div>
                    <div id="plant-index">
                        <ul>
                            <li>
                                <p>Độ ẩm đất</p>
                                <p class="number" id="soil">0</p>
                            </li>
                            <li>
                                <p>Độ ẩm không khí</p>
                                <p class="number" id="humid">0 &#37;</p>
                            </li><li>
                                <p>Nhiệt độ</p>
                                <p class="number" id="temp">0 &deg;C</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="watering-mode">
                    <div id="mode-name">
                        <p>Chọn chế độ tưới</p>
                    </div>
                    <div id="mode-choice">
                        <ul>
                            <a href="detail_auto.html">
                            <li>
                                <p>Tự động</p>
                            </li>
                            </a>                        
                            <li id="selected-mode">
                                <p>Thủ công</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="option-table">
                <div id="table-title"><p>Tưới thủ công</p></div>
                    <div id="table-index">
                        <p>Chế độ phun</p>
                        <div id="watering-shape">
                            <label class="labl">
                                <input type="radio" name="radioname" value="one_value" checked="checked"/>
                                <div style="color: green;">Phun hình nón</div>
                            </label>
                            <label class="labl">
                                <input type="radio" name="radioname" value="another" />
                                <div style="color: green;">Phun chùm</div>
                            </label>
                            <label class="labl">
                                <input type="radio" name="radioname" value="another" />
                                <div style="color: green;">Phun sương</div>
                            </label>
                        </div>
                        <p>Lượng nước tưới: <span id="demo" style="color: blue;"></span> m3/giờ</p>

                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        </div>
                    </div>
                    <div class="row switch-button">
                        <label class="switch">
                            <input type="checkbox" id="switch">
                            <span class="slider round"></span>
                        </label>
                    </div>
            </div>
        </div>
    </div>
<script src="../static/js/detail_hand.js"></script>
<script>
    var temp = document.getElementById("temp");
        setInterval(() => {
            fetch("{{ url_for('temp') }}").then((response) => {
            response.text().then((t, s) => {
            temp.innerHTML = t + "\xB0 C";
            });
        });
    }, 10000);

    var humidity = document.getElementById("humid");
        setInterval(() => {
            fetch("{{ url_for('humid') }}").then((response) => {
            response.text().then((t) => {
            humidity.innerHTML = t + " %";
            });
        });
    }, 10000);

    var soil = document.getElementById("soil");
        setInterval(() => {
            fetch("{{ url_for('soil') }}").then((response) => {
            response.text().then((t) => {
            soil.innerHTML = t;
            });
        });
    }, 10000);
    
    var relay = document.getElementById("relay");
        setInterval(() => {
            fetch("{{ url_for('relay') }}").then((response) => {
            response.text().then((t) => {
            if (relay.innerHTML != "Status: " + t){
            relay.innerHTML = "Status: " + t;}
            });
        });
    }, 10000);
</script>
</body>
</html>