<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tưới tự động</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/detail_auto.css">
    <link rel="stylesheet" href="../static/css/detail_hand.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/font/fontawesome-free-5.15.4-web/css/all.css">>
</head>
<body>
    <div id="container" class="grid">
        <div id="nav-bar" class="row no-gutter">
            <div class="col l-3 m-6 c-6">
                <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="logo" width="90px" height="75px"></a>
            </div>
            <div class="col l-6 m-0 c-0">
                <ul id="navigation">
                    <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li><a href="{{ url_for('area') }}">Khu vực</a></li>
                    <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
                </ul>
            </div>
            <div class="col l-3 m-5 c-5">
                <a href=""><i class="icon-account fas fa-user-circle"></i></a>
                <a href="{{ url_for('logout') }}">
                    <button type="button" class="btn-nav">Đăng xuất</button>
                </a>
            </div>
            <div class="drop-down col l-0 m-1 c-1">
                <div class="icon">
                    <i class="fas fa-grip-lines fa-2x"></i>
                </div>
                <ul class="nav-hidden w-100">
                    <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li><a href="{{ url_for('area') }}">Khu vực</a></li>
                    <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
                </ul>
              </div>
        </div>
    <div id="general" class="detail-body row">
        <div class="col l-4 m-12 c-12">
            <div class="row">
                <div class="col l-7 m-4 c-4">
                    <div class="plant-name pos-rela">
                        <h3 class="cen w-100">Khu vực 1</h3>
                    </div>
                </div>
                <div class="col l-5 m-8 c-8">
                    <div class="plant-index">
                        <ul>
                            <li class="pos-rela">
                                <p>Độ ẩm đất</p>
                                <p class="number w-100 cen" id="soil">0</p>
                            </li>
                            <li class="pos-rela">
                                <p>Độ ẩm không khí</p>
                                <p class="number w-100 cen" id="humid">0 &#37;</p>
                            </li>
                            <li class="pos-rela">
                                <p>Nhiệt độ</p>
                                <p class="number w-100 cen" id="temp">0 &deg;C</p>
                            </li>
                        </ul>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col l-7 m-4 c-4">
                    <div class="mode-name pos-rela">
                        <h3 class="w-100 cen">Chọn chế độ tưới</h3>
                    </div>
                </div>
                <div class="col l-5 m-8 c-8">
                    <div class="mode-choice">
                        <a href="{{ url_for('detailhand') }}">
                            <button id="auto" class="btn-mode">
                                Thủ công
                            </button>
                        </a>
                        <a href="{{ url_for('detailauto') }}">
                            <button id="auto" class="btn-select btn-mode">
                                Tự động
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l-8 option-table">
            <header class="table-header row">
                <div class="heading col l-12">
                    <h1 class="w-100">Tưới tự động</h1>
                </div>
            </header>
            <form class="pos-rela" method="POST" action="{{ url_for('autowatering') }}">
                <div class="drop-down">
                    <select name="comp_select" class="selectpicker cen">
                        {% for mode in modes %}
                        <option value="{{ mode[0] }}" id="{{ mode[0] }}" name="{{ mode[0] }}">{{ mode[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="btn">
                    <button type="submit">Bật</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var temp = document.getElementById("temp");
        setInterval(() => {
            fetch("{{ url_for('temp') }}").then((response) => {
            response.text().then((t, s) => {
            temp.innerHTML = t + "\xB0 C";
            });
        });
    }, 2000);

    var humidity = document.getElementById("humid");
        setInterval(() => {
            fetch("{{ url_for('humid') }}").then((response) => {
            response.text().then((t) => {
            humidity.innerHTML = t + " %";
            });
        });
    }, 2000);

    var soil = document.getElementById("soil");
        setInterval(() => {
            fetch("{{ url_for('soil') }}").then((response) => {
            response.text().then((t) => {
            soil.innerHTML = t;
            });
        });
    }, 2000);
</script>
</body>
</html>