<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tưới tự động</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/form-login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/font/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="../static/css/detail_auto.css">
</head>
<body>
    <div id="container">
        <div id="nav-bar" class="row no-gutter">
            <div class="col l-3">
                <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="logo" width="90px" height="75px"></a>
            </div>
            <div class="col l-6">
                <ul id="navigation">
                    <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li><a href="{{ url_for('area') }}">Khu vực</a></li>
                    <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
                </ul>
            </div>
            <div class="col l-3">
                <a href=""><i class="icon-account fas fa-user-circle"></i></a>
                <a href="{{ url_for('logout') }}">
                    <button type="button" class="btn-nav">Đăng xuất</button>
                </a>
            </div>
        </div>
        <div id="general">
            <div id="left">
                <div id="plant">
                    <div id="plant-name">
                        <p>Khu vực 1</p>
                        <p>Cây cà chua</p>
                    </div>
                    <div id="plant-index">
                        <ul>
                            <li>
                                <p>Độ ẩm đất</p>
                                <p class="number">60%</p>
                            </li>
                            <li>
                                <p>Độ ẩm không khí</p>
                                <p class="number">70%</p>
                            </li><li>
                                <p>Nhiệt độ</p>
                                <p class="number">60%</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="watering-mode">
                    <div id="mode-name">
                        <p>Chọn chế độ tưới</p>
                    </div>
                    <div id="mode-choice">
                        <ul>
                            <li id="selected-mode">
                                <p>Tự động</p>
                            </li>
                            <a href="detail_hand.html">
                            <li>
                                <p>Thủ công</p>
                            </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="option-table">
                <div id="table-title"><p>Tưới tự động</p></div>    
                <div id="table-index">
                    
                        <table>
                          <tr>
                            <td>Chế độ tưới</td>
                            <td>

                                <div class="custom-select">
                                  <select>
                                    <option value="0">Chọn cây trồng</option>
                                    <option value="1">Cây cà chua</option>
                                    <option value="2">Cây cam</option>
                                    <option value="3">Cây mít</option>
                                  </select>
                                </div>

                            </td>
                          </tr>
                          <tr>
                            <td>Độ ẩm đất (%)</td>
                            <td><input type="text" id="doamdat" name="doamda" value="100" readonly></td>
                          </tr>
                          <tr>
                            <td>Độ ẩm không khí (%)</td>
                            <td><input type="text" id="doamdat" name="doamda" value="100" readonly></td>
                          </tr>
                          <tr>
                            <td>Nhiệt độ (độ C)</td>
                            <td><input type="text" id="doamdat" name="doamda" value="100" readonly></td>
                          </tr>
                        </table>
                        <div class="row switch-button">
                            <label class="switch">
                                <input type="checkbox" id="switch">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    
                </div>

                

            </div>


        </div>
    </div>
<script src="../static/js/detail_auto.js"></script>
</body>
</html>