<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/manager.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/font/fontawesome-free-5.15.4-web/css/all.css">
</head>
<body>
    <div id="container" class="grid">
        <div id="nav-bar" class="row no-gutter">
            <div class="col l-3">
                <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="logo" width="90px" height="75px"></a>
            </div>
            <div class="col l-6">
                <!-- <ul id="navigation">
                    <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li><a href="{{ url_for('index') }}">Khu vực</a></li>
                </ul> -->
            </div>
            <div class="col l-3">
                <a href=""><i class="icon-account fas fa-user-circle"><h2>{{ usrname }}</h2></i></a>
                <a href="{{ url_for('logout') }}">
                    <button type="button" class="btn-nav">Đăng xuất</button>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="container-table col l-10">
                <table>
                    <tr>
                        <th class="proper-short">Chế độ tưới</th>
                        <th class="proper-short">Độ ẩm đất</th>
                        <th class="proper-long">Độ ẩm không khí</th>
                        <th class="proper-short">Nhiệt độ</th>
                        <th class="proper-short">Chế độ phun</th>
                        <th class="proper-long">Lượng nước tưới</th>
                        <th class="proper-short">Ngày tạo</th>
                        <th class="proper-short">Thao tác</th>
                    </tr>
                    {% for mode in modes %}
                    <tr>
                        <td class="proper-short">{{mode[0]}}</td>
                        <td class="proper-short">{{mode[1]}}</td>
                        <td class="proper-short">{{mode[2]}}</td>
                        <td class="proper-short">{{mode[3]}}</td>
                        <td class="proper-short">{{mode[5]}}</td>
                        <td class="proper-short">{{mode[6]}}</td>
                        <td class="proper-short">{{mode[8]}}</td>
                        <td class="proper-short">
                            <button type="button" class="btn-edit">Sửa</button>
                            <button type="button">Xóa</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col l-2">
                <button class="btn-add" type="button">Thêm mới</button>
            </div>
        </div>
    </div>
</body>
</html>