<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tưới tự động</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/font/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <link rel="stylesheet" href="../static/css/detail_auto.css">
    <link rel="stylesheet" href="../static/css/detail_hand.css">
</head>
<body>
    <div id="container" class="grid"></div>
    <div id="nav-bar" class="row no-gutter">
        <div class="col l-3 m-6 c-6">
            <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="logo" width="90px" height="75px"></a>
        </div>
        <div class="col l-6 m-0 c-0">
            <ul id="navigation">
                <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                <li><a href="{{ url_for('area') }}">Khu vực</a></li>
                <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
            </ul>
        </div>
        <div class="col l-3 m-5 c-5">
            <a href=""><i class="icon-account fas fa-user-circle"></i></a>
            <a href="{{ url_for('logout') }}">
                <button type="button" class="btn-nav">Đăng xuất</button>
            </a>
        </div>
        <div class="drop-down col l-0 m-1 c-1">
            <div class="icon">
                <i class="fas fa-grip-lines fa-2x"></i>
            </div>
            <ul class="nav-hidden w-100">
                <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
                <li><a href="{{ url_for('area') }}">Khu vực</a></li>
                <li><a href="{{ url_for('manager') }}">Quản lý chế độ tưới</a></li>
            </ul>
          </div>
    </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="row content-he">
                        <div class="content-header">
                            <h5>Khu vực 1</h5>
                            <h1>Cây cà chua</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <p>Độ ẩm đất</p>
                            <p class="number" id="soil">0</p>
                        </li>
                        <li>
                            <p>Độ ẩm không khí</p>
                            <p class="number" id="humid">0 &#37;</p>
                        </li><li>
                            <p>Nhiệt độ</p>
                            <p class="number" id="temp">0 &deg;C</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form method="POST" action="{{ url_for('detailauto') }}">
                        <label>Chế độ tưới</label>  
                        <input type="text" name="mode" id="mode" class="form-control" value="{{mode}}"/>  
                        <br/>
                        <label>Độ ẩm đất</label>  
                        <input type="text" name="soil" id="soil" class="form-control" value="{{soil}}"/>  
                        <br/>
                        <label>Nhiệt độ</label>  
                        <input type="text" name="temp" id="temp" class="form-control" value="{{temp}}"/>  
                        <br/>
                        <label>Độ ẩm không khí</label>  
                        <input type="text" name="humid" id="humid" class="form-control" value="{{humid}}"/>
                        <br/>
                        <h1 style="color:black;" id="relay">OFF</h1>
                        <button type="submit" class="btn btn-default">Tắt</button>
                    </form>
                </div>
            </div>
        </div> -->

        <div id="general" class="detail-body row">
            <div class="col l-4">
                <div class="row">
                    <div class="col l-7">
                        <div class="plant-name">
                            <h3>Khu vực 1</h3>
                        </div>
                    </div>
                    <div class="col l-5">
                        <div class="plant-index">
                            <ul>
                                <li>
                                    <p>Độ ẩm đất</p>
                                    <p class="number" id="soil">0</p>
                                </li>
                                <li>
                                    <p>Độ ẩm không khí</p>
                                    <p class="number" id="humid">0 &#37;</p>
                                </li><li>
                                    <p>Nhiệt độ</p>
                                    <p class="number" id="temp">0 &deg;C</p>
                                </li>
                            </ul>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col l-7">
                        <div class="mode-name">
                            <h3>Chọn chế độ tưới</h3>
                        </div>
                    </div>
                    <div class="col l-5">
                        <div class="mode-choice">
                            <a href="{{ url_for('detailhand') }}">
                                <button id="auto" class="btn-mode">
                                    Thủ công
                                </button>
                            </a>
                            <a href="{{ url_for('detailauto') }}">
                                <button id="auto" class="btn-select btn-mode">
                                    Tự động
                                </button>
                            </a>
                            <!-- <ul>
                                <a href="{{ url_for('detailauto') }}">
                                <li>
                                    <p>Tự động</p>
                                </li>
                                </a>                        
                                <li id="selected-mode">
                                    <p>Thủ công</p>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l-8 option-table select-mode">
                <header class="table-header row">
                    <div class="heading col l-12 m-12 c-12">
                        <h1 class="w-100">Tưới tự động</h1>
                    </div>
                </header>
                <form method="POST" action="{{ url_for('detailauto') }}">
                    <div class="mode-table">
                        <label for="mode" class="mode-label">
                            Chế độ tưới
                        </label>
                        <input type="text" name="mode" id="mode" class="mode-input" value="{{mode}}"/>
                    </div>
                    <!-- <label for="mode">Chế độ tưới</label>  
                    <input type="text" name="mode" id="mode" class="mode-input" value="{{mode}}"/>  
                    <br/> -->
                    <div class="mode-table">
                        <label for="mode" class="mode-label">
                            Độ ẩm đất
                        </label>
                        <input type="text" name="soil" id="soil" class="mode-input" value="{{soil}}"/>
                    </div>
                    <!-- <label for="soil">Độ ẩm đất</label>  
                    <input type="text" name="soil" id="soil" class="mode-input" value="{{soil}}"/>  
                    <br/> -->
                    <div class="mode-table">
                        <label for="mode" class="mode-label">
                            Nhiệt độ
                        </label>
                        <input type="text" name="temp" id="temp" class="mode-input" value="{{temp}}" />
                    </div>
                    <!-- <label for="temp">Nhiệt độ</label>  
                    <input type="text" name="temp" id="temp" class="mode-input" value="{{temp}}"/>  
                    <br/> -->
                    <div class="mode-table">
                        <label for="mode" class="mode-label">
                            Độ ẩm không khí
                        </label>
                        <input type="text" name="humid" id="humid" class="mode-input" value="{{humid}}" />
                    </div>
                    <!-- <label for="humid">Độ ẩm không khí</label>  
                    <input type="text" name="humid" id="humid" class="mode-input" value="{{humid}}"/>
                    <br/> -->
                   <div class="mode-relay">
                        <label for="mode" class="relay-label">
                            Trạng thái máy bơm
                        </label>
                        <div class="relay-status">
                            <h1 style="color:black;" id="relay"></h1>
                        </div>
                   </div>
                    <div class="btn">
                        <button type="submit">Tắt</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    var temp = document.getElementById("temp");
        setInterval(() => {
            fetch("{{ url_for('temp') }}").then((response) => {
            response.text().then((t, s) => {
            temp.innerHTML = t + "\xB0 C";
            });
        });
    }, 1000);

    var humidity = document.getElementById("humid");
        setInterval(() => {
            fetch("{{ url_for('humid') }}").then((response) => {
            response.text().then((t) => {
            humidity.innerHTML = t + " %";
            });
        });
    }, 1000);

    var soil = document.getElementById("soil");
        setInterval(() => {
            fetch("{{ url_for('soil') }}").then((response) => {
            response.text().then((t) => {
            soil.innerHTML = t;
            });
        });
    }, 1000);
    var relay = document.getElementById("relay");
    setInterval(() => {
        fetch("{{ url_for('relay') }}").then((response) => {
            let yes = document.getElementById("customSwitch8");
            response.text().then((t) => {
            if (relay.innerHTML != t){
                relay.innerHTML = t;}
            });
        });
    }, 1000);

    setTimeout(function() {
        location.reload();
    }, 10000);
</script>
</body>
</html>